
@font-face {
  font-family: poppins;
  src: url(./Poppins-Medium.ttf);
}
.inline-block {
  display: inline-block;
}

#me-container {
  width: 940px;
  padding: 0 15px;
  height: 680px;
  margin: 0 auto;
}
#left-me {
  width: 450px;
  height: 250px;
  vertical-align: top;
  margin-top: 174px;
  * {
    font-family: poppins;
  }
  h6 {
    color: #222222;
    font-size: 14px;
    font-weight: 400;
    margin-top: 0;
  }
  h1 {
    color: #222222;
    font-size: 60px;
    font-weight: 600;
  }
  p {
    color: #777777b9;
    font-size: 14px;
    font-weight: 300;
    margin: 34px 0 30px;
  }
  a {
    padding: 13px 30px;
    background-image: linear-gradient(to right, #8490ff, #62bdfc);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
  }
}
#right-me img[src="./picture/hero-img.png.webp"] {
  margin: 106px 0 0 26px;
  width: 449px;
  height: 574px;
}
